@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "kalemeh";
  src: url("/fonts/KalamehWeb/eot/KalamehWeb_Regular.eot");
  src: local("kalemeh-Regular"),
    url("/fonts/KalamehWeb/eot/KalamehWeb_Regular.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/KalamehWeb/woff2/KalamehWeb_Regular.woff2") format("woff2"),
    url("/fonts/KalamehWeb/woff/KalamehWeb_Regular.woff") format("woff"),
    url("/fonts/KalamehWeb/ttf/KalamehWeb_Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "kalemeh";
  src: url("/fonts/KalamehWeb/eot/KalamehWeb_Bold.eot");
  src: local("kalemeh-Bold"),
    url("/fonts/KalamehWeb/eot/KalamehWeb_Bold.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/KalamehWeb/woff2/KalamehWeb_Bold.woff2") format("woff2"),
    url("/fonts/KalamehWeb/woff/KalamehWeb_Bold.woff") format("woff"),
    url("/fonts/KalamehWeb/ttf/KalamehWeb_Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "kalemeh";
  src: url("/fonts/KalamehWeb/eot/KalamehWeb_Black.eot");
  src: local("kalemeh-Black"),
    url("/fonts/KalamehWeb/eot/KalamehWeb_Black.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/KalamehWeb/woff2/KalamehWeb_Black.woff2") format("woff2"),
    url("/fonts/KalamehWeb/woff/KalamehWeb_Black.woff") format("woff"),
    url("/fonts/KalamehWeb/ttf/KalamehWeb_Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "kalemeh";
}
